@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.table td, .table th {
    border: none;
}

table.table.table-striped {
    border: 5px solid #cccccc;
}
table.table.table-striped>thead>tr{
    background-color: #545352;
}
table.table.table-striped>thead>tr>th{
    color: white;
}
table.table.table-striped {
    text-align: center;
}
.form-container{
    color: #545352;
    width: 70%;
    padding: 15px;
    margin-bottom: 50px;
}
.reg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    background-color: rgba(64, 70, 76, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}
label{
    font-weight: 600;
}
.error-message{
    color: #e70f00;
    font-size: 15px;
    margin-top: 3px;
}